@import '~antd/dist/antd.css';

.site-layout-content {
  min-height: 80vh;
  background: #fff;
}

.contracts-logo {
  content: url('../../assets/logo.png');
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.navbar-items {
  margin-top: 0.7rem;
  float: left;
}

.ant-input-group-wrapper {
  margin-top: 0.5rem;
  display: flex;
  width: 20%;
}

.ant-btn-round.ant-btn-lg > span {
  text-transform: uppercase;
}

.ant-btn {
  float: right;
}

[data-theme='dark'] .site-layout-content {
  background: #141414;
}
